<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <TITLE>诸葛武侯马前课</TITLE>
    <META content="text/html; charset=utf-8" http-equiv=Content-Type>
	<link href="{{$smarty.const.__APP_RESOURCE__}}css/mqk/css.css" rel="stylesheet" type="text/css" />
</HEAD>
<BODY>
<CENTER>
	<DIV style="TEXT-ALIGN: right; LINE-HEIGHT: 10px; WIDTH: 100%; COLOR: #fff">
            	 
    </DIV>
</STYLE>

<TABLE style="BORDER-BOTTOM: #c0c0c0 1px solid; BORDER-LEFT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; BORDER-RIGHT: #c0c0c0 1px solid" border=0 cellSpacing=2 cellPadding=2 width="98%" bgColor=#ffffff align=center>
    <TBODY>
        <TR>
            <TD bgColor=#fffaf7>
                <TABLE border=0 cellSpacing=0 cellPadding=0 width="100%" align=center>
                    <TBODY>
                        <TR>
                            <TD height=50 width="20%">&nbsp;</TD>
                            <TD width="60%"><DIV class=STYLE6 align=center><FONT face=楷体_GB2312><IMG src="{{$smarty.const.__APP_RESOURCE__}}imgs/mqk/whmqk.gif"></FONT></DIV></TD>
                            <TD width="20%">&nbsp;</TD>
                        </TR>
                    </TBODY>
                </TABLE>
            </TD>
        </TR>
    </TBODY>
</TABLE>
<SPAN id=uline>
    <TABLE style="BORDER-BOTTOM: #c0c0c0 1px solid; BORDER-LEFT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; BORDER-RIGHT: #c0c0c0 1px solid" border=0 cellSpacing=3 cellPadding=0 width="98%" bgColor=#ffffff align=center height="78%">
        <TBODY>
            <TR>
                <TD bgColor=#ffffff width="20%">
                    <DIV align=center>
                        <TABLE border=0 cellSpacing=2 cellPadding=2 width="98%">
                            <TBODY>
                                <TR>
                                    <TD>
                                        <DIV align=center>
                                            <FONT color=#ff0099>
                                                <A href="{{$smarty.const.__URL__|url}}"><IMG src="{{$smarty.const.__APP_RESOURCE__}}imgs/mqk/fuxi.gif" width=150 height=269></A>
                                            </FONT>
                                        </DIV>
                                    </TD>
                                </TR>
                                <TR>
                                    <TD height=20>
                                        <DIV align=center>
                                            <STRONG>
                                                <FONT color=#000000>伏羲</FONT>
                                            </STRONG>
                                        </DIV>
                                    </TD>
                                </TR>
                                <TR>
                                    <TD>
                                        <DIV align=left>
                                            <FONT color=#999999>《易》与天地准，故能弥纶天地之道。仰以观于天文，俯以察于地理，是故知幽明之故；原始反终，故知死生之说；精气为物，游魂为变，是故知鬼神之情状。 </FONT>
                                        </DIV>
                                    </TD>
                                </TR>
                            </TBODY>
                        </TABLE>
                        <P>&nbsp;</P>
                    </DIV>
                </TD>
                <TD bgColor=#ffffff>
                    <TABLE border=0 cellSpacing=4 cellPadding=4 width="98%" align=center>
                        <TBODY>
                            <TR>
                                <TD>
                                    <P>
                                        <FONT color=#ffffff>
                                        	诸葛武侯
                                        </FONT>未来预知术，相传为蜀汉诸葛武侯著，邵康节演。又称之为《蜀汉诸葛武侯马前课》，原藏于一八八一年法兰西巴黎图书馆。曾被列为秘籍。原占法：凡占此卦，须于清晨洗净后，选铜钱八枚或铜元亦可，取其中一枚以红线系之，焚香净手，虔诚默告一通，随将钱含掌中，两手高举向空，速摇数下，摇毕，将钱按照《占卦式》八卦图上的次序依次排列，此时看系红线者排在某卦上，即为某卦。两次成卦，第三次求动爻。占法较为复杂，专业人士才懂使用。为了方便大家求占，简化了程序，心念动处即可求占。
                                    </P>
                                </TD>
                            </TR>
                            <TR>
                                <TD>
                                    <B>第一步:</B>当你心中有疑惑时，先静心冥想片刻，记下你需要求测的事情，只宜一件事。
                                </TD>
                            </TR>
                            <TR>
                                <TD>
                                    <B>第二步:</B>
                                    心中默念以下咒语——“
                                    <FONT color=#ff0000>
                                        高苍不言，叩之即应，列圣有灵，感而则通，(×××您的名字)虔诚，有疑求解，吉凶得失，惟卦是凭，仰望上苍，明彰昭报。
                                    </FONT>”默念三遍。
                                </TD>
                            </TR>
                            <TR>
                                <TD>
                                    <B>第三步:</B>点击以下图标，即可求得一卦。卦成后，仔细品味思考，疑虑自解。
                                </TD>
                            </TR>
                            <TR>
                                <TD bgColor=#f1f1f1 height=220>
                                    <TABLE border=1 cellSpacing=0 borderColor=#cccccc cellPadding=10 bgColor=#fffaf7 align=center>
                                        <TBODY>
                                            <TR>
                                                <TD>
                                                    <A href="{{$smarty.const.__URL__&a=result|url}}"><IMG src="{{$smarty.const.__APP_RESOURCE__}}imgs/mqk/sczl.gif" width=160 height=160></A>
                                                </TD>
                                            </TR>
                                        </TBODY>
                                    </TABLE>
                                </TD>
                            </TR>
                            <TR>
                                <TD height=41>
                                    <FONT color=#666666>温馨提示：占卜一定要虔诚。一件事只占一卦。预测内容谨供参考。</FONT>
                                </TD>
                            </TR>
                        </TBODY>
                    </TABLE>
                </TD>
            </TR>
        </TBODY>
    </TABLE>
</SPAN>
                
<TABLE border=0 width=728 align=center>
    <TBODY>
        <TR>
            <TD>
                <DIV align=center>

                </DIV>
            </TD>
        </TR>
        <TR>
            <TD>
                <TABLE border=0 width="100%">
                    <TBODY>
                        <TR>
                            <TD width="35%">
                                <DIV align=right></DIV>
                            </TD>
                            <TD width="40%">
                                <DIV style="text-align: center;">{{'cfg_powerby'|getCfgVar}}</DIV>
                            </TD>
							<TD>
							<script src="http://s20.cnzz.com/stat.php?id=4001661&web_id=4001661&show=pic" language="JavaScript"></script>
                            </TD>
                            <TD>
                            </TD>
                        </TR>
                    </TBODY>
                </TABLE>
            </TD>
        </TR>
    </TBODY>
</TABLE>
</DIV>
</CENTER>
</BODY>
</HTML>
