<form id="pagerForm" method="post" action="{{$smarty.const.__URL__|url}}">
	<input type="hidden" name="pageNum" value="{{$page.pageNum}}" />
	<input type="hidden" name="numPerPage" value="{{$page.numPerPage}}" />
	<input type="hidden" name="orderField" value="{{$page.orderField}}" />
	<input type="hidden" name="orderDirection" value="{{$page.orderDirection}}" />
	<input type="hidden" name="title" value="{{$smarty.post.name}}" />
	<input type="hidden" name="create_time" value="{{$smarty.post.create_time}}" />
</form>

<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" action="{{$smarty.const.__URL__|url}}" method="post">
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					名称：<input type="text" name="name" value="{{$smarty.post.name}}" />
				</td>
				<td>
					创建日期：<input type="text" class="date" readonly="true" name="create_time" value="{{$smarty.post.create_time}}"/>
				</td>
				<td>
					<div class="subBar">
						<ul>
							<li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
							<li><div class="buttonActive"><div class="buttonContent"><button type="button" onclick="return navTabSearch(this);">刷新</button></div></div></li>
						</ul>
					</div>
				</td>
			</tr>
		</table>
		
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="{{$smarty.const.__URL__&a=add|url}}" target="dialog" width="550" height="550"><span>添加</span></a></li>
			<li><a class="edit" href="{{$smarty.const.__URL__&a=update&id={role_id}|url}}" target="dialog" width="550" height="550"><span>修改</span></a></li>
			<li><a class="delete" href="{{$smarty.const.__URL__&a=delete|url}}" target="selectedTodo"  rel="ids" postType="string" title="确实要删除这些记录吗?"><span>批量删除</span></a></li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="114">
		<thead>
			<tr>
				<th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
				<th orderField="id" class="{{$page.orderDirection}}">角色编号</th>
				<th>名称</th>
				<th>创建时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{{section name=loop loop=$roles}}
			<tr target="role_id" rel="{{$roles[loop].id}}">
				<td width="4%"><input name="ids" value="{{$roles[loop].id}}" type="checkbox"></td>
				<td>{{$roles[loop].id}}</td>
				<td>{{$roles[loop].name}}</td>
				<td>{{$roles[loop].create_time}}</td>
				<td>
					<a target="ajaxTodo" href="{{$smarty.const.__URL__&a=delete&ids=$roles[loop].id|url}}" class="btnDel" title="确定要删除吗?">删除</a>
					<a href="{{$smarty.const.__URL__&a=update&id=$roles[loop].id|url}}" class="btnEdit" target="dialog" width="550" height="550" title="编辑">编辑</a>
				</td>
			</tr>
		    {{/section}}
		</tbody>
	</table>
	{{include file="Include/page.html"}}
</div>
