<form id="pagerForm" method="post" action="{{$smarty.const.__URL__|url}}">
	<input type="hidden" name="pageNum" value="{{$page.pageNum}}" />
	<input type="hidden" name="numPerPage" value="{{$page.numPerPage}}" />
	<input type="hidden" name="orderField" value="{{$page.orderField}}" />
	<input type="hidden" name="orderDirection" value="{{$page.orderDirection}}" />
	<input type="hidden" name="id" value="{{$smarty.post.id}}">
	<input type="hidden" name="name" value="{{$smarty.post.name}}" />
	<input type="hidden" name="url" value="{{$smarty.post.url}}" />
</form>

<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" action="{{$smarty.const.__URL__|url}}" method="post">
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					模块编号：<input type="text" name="id" value="{{$smarty.post.id}}" />
				</td>
				<td>
					名称：<input type="text" name="name" value="{{$smarty.post.name}}" />
				</td>
				<td>
					路径：<input type="text" name="url" value="{{$smarty.post.url}}" />
				</td>
				<td>
					<div class="subBar">
						<ul>
							<li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
							<li><div class="buttonActive"><div class="buttonContent"><button type="button" onclick="return navTabSearch(this);">刷新</button></div></div></li>
						</ul>
					</div>
				</td>
			</tr>
		</table>
		
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="{{$smarty.const.__URL__&a=add|url}}" target="navTab"><span>添加</span></a></li>
			<li><a class="edit" href="{{$smarty.const.__URL__&a=update&id={id}|url}}" target="navTab"><span>修改</span></a></li>
			<li><a class="delete" href="{{$smarty.const.__URL__&a=delete|url}}" target="selectedTodo"  rel="ids" postType="string" title="确实要删除这些记录吗?"><span>批量删除</span></a></li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="114">
		<thead>
			<tr>
				<th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
				<th orderField="id" class="{{$page.orderDirection}}">模块编号</th>
				<th>名称</th>
				<th>路径</th>
				<th>描述</th>
				<th>父节点ID</th>
				<th>级别</th>
				<th>创建时间</th>
				<th>弹出方式</th>
				<th>宽度</th>
				<th>高度</th>
				<th>序号</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{{section name=loop loop=$modules}}
			<tr target="id" rel="{{$modules[loop].id}}">
				<td width="4%"><input name="ids" value="{{$modules[loop].id}}" type="checkbox"></td>
				<td>{{$modules[loop].id}}</td>
				<td>{{$modules[loop].name}}</td>
				<td>{{$modules[loop].url}}</td>
				<td width="10%">{{$modules[loop].info}}</td>
				<td>{{$modules[loop].parent}}</td>
				<td>{{$modules[loop].level}}</td>
				<td>{{$modules[loop].create_time}}</td>
				<td>{{$modules[loop].target}}</td>
				<td>{{$modules[loop].width}}</td>
				<td>{{$modules[loop].height}}</td>
				<td>{{$modules[loop].number}}</td>
				<td>
					<a target="ajaxTodo" href="{{$smarty.const.__URL__&a=delete&ids=$modules[loop].id|url}}" class="btnDel"  title="确定要删除吗?">删除</a>
					<a target="navTab" href="{{$smarty.const.__URL__&a=update&id=$modules[loop].id|url}}" class="btnEdit" width="550" height="330" title="编辑">编辑</a>
				</td>
			</tr>
		    {{/section}}
		</tbody>
	</table>
	{{include file="Include/page.html"}}
</div>
