
{{include file="Include/head.html" index="actived"}}

<script type="text/javascript"> 
$(function() {
	 
	$('#focus670x160 #adv').cycle({ 
	    fx:     'fade', 
	    timeout: 5000, 
		pagerEvent: 'mouseover',
	    pager:  '#nav670x160' 
	});
	 
	$('#focus350x250 .pics').cycle({ 
	    fx:     'fade', 
		speed:  'fast', 
	    timeout: 0, 
		pagerEvent: 'mouseover',
	    pager:  '#nav350x250',
		pagerAnchorBuilder: function(idx, slide) { 
	        // return selector string for existing anchor 
	        return '#nav350x250 li:eq(' + idx + ') a'; 
	    } 
	});
	 
	$('#view .pics').cycle({ 
	    fx:     'scrollHorz', 
		speed:  'slow', 
	    timeout: 0, 
	    pager:  '#navView',
		pagerAnchorBuilder: function(idx, slide) { 
	        // return selector string for existing anchor 
	        return '#navView li:eq(' + idx + ') a'; 
	    } 
	});
	 
	$('#view .pics').cycle({ 
	    fx:     'scrollHorz', 
	    timeout: 0, 
	    pager:  '#navView',
		pagerAnchorBuilder: function(idx, slide) { 
	        // return selector string for existing anchor 
	        return '#navView li:eq(' + idx + ') a'; 
	    } 
	});
	 
	$('#kanfa .kimageBar ul').cycle({
	        fx:      'scrollHorz',
	        timeout:  0,
	        prev:    '.pre',
	        next:    '.next'
	});
	 
	 
	$('#announcement ul').cycle({
		fx:'scrollUp',
		timeout:10000
	});
	 
	$('#hotRankSlide').cycle({ 
		fx:     'none', 
		timeout: 5000, 
		delay: 1000,
		pagerEvent: 'mouseover',
		pager:  '#hotRankNavi',
		activePagerClass: 'actived',
		pauseOnPagerHover: true,
		allowPagerClickBubble: true,
		cleartypeNoBg: true,
		pagerAnchorBuilder: function(idx, slide) { 
			// return selector string for existing anchor 
			return '#hotRankNavi li:eq(' + idx + ') a'; 
		} 
	});
});
</script>


<div style="float: left; padding-bottom: 12px;"></div>
<div id="index">
<div class="mainContent">
<div id="focus670x160">
<div class="pics" >
<ul id="adv">
{{section name=loop loop=$adv_list}}
<li><a href="{{$adv_list[loop].url}}" target="_blank"><img src="{{$smarty.const.__UPLOAD__}}{{$adv_list[loop].img}}" alt="{{$adv_list[loop].title}}"/></a></li>
{{/section}}
</ul>
</div>
<div id="nav670x160"></div>
</div>

<div id="announcement"><strong>最新公告：</strong>
<ul>
    {{section name=loop loop=$announ_list}}
	{{if $smarty.section.loop.index % 2 eq 0}}<li>{{/if}}
	<a href="{{$announ_list[loop].link}}" target="_blank" class="caution">{{$announ_list[loop].title|utf8Substr:0:25}}</a>
	{{if ($smarty.section.loop.index+1) % 2 eq 0 or $smarty.section.loop.last}}</li>{{/if}}
	{{/section}}
</ul>
</div>
</div>


<div class="subContent">
<script language="JavaScript" type="text/javascript">
<!--
function chk_login(obj){
	if(obj.username.value == ""){
		alert("请填写用户名");
		obj.username.focus();
		return false;
	}
	if(obj.password.value == ""){
		alert("请填写密码");
		obj.password.focus();
		return false;
	}
}
//-->
</script>
<div id="login" class="module">
		{{if $is_login}}
    	<div class="loged">
            <div class="userInfo">
            	<a href="" class="avatar" title="更换头像" target="_blank"><img src="{{$userInfo.avatar}}" id="loged_avatar" width="48" height="48"></a>
                <div class="text">

                <h5><span id="cur_time">{{$tip}}</span>，<span id="cur_username_2">{{$userInfo.username}}</span>！</h5>
                <div class="weather pub_dropmenuP"><a href="javascript:;" class="city" onclick="$('#dm_changCity').slideToggle('fast')" id="user_city"></a> <span id="weather_block"></span>
      	</div>
              </div>
              <div class="clear"></div>
          </div>
          <div class="miniDash">
            <div class="button">
                <a class="button_n" href="{{$smarty.const.__PROJECT__member|url}}"><em>管理中心</em></a> <a class="button_n" href="{{$smarty.const.__PROJECT__member/?c=user&a=logout|url}}"><em>退出</em></a>
                </div>
          </div>
        </div>
        {{else}}
    	<div class="login" style="">
    	<form action="{{$smarty.const.__PUB__member/index.php?c=user&a=login|url}}" method="post" name="frmLogin" onsubmit="javascript:return chk_login(this)">
        	<ul>
            	<li class="login01"><span>用户名</span> <input class="textfield" type="text" name="username" value="{{$member_name}}"></li>

                <li class="login02"><span>密　码</span> <input class="textfield" type="password" name="password"></li>
            </ul>
            <div class="remember">
            <span><input type="checkbox" name="remember" id="remember"  {{if $member_name}}checked="checked"{{/if}}> <label for="remember">记住我</label></span>
            <a href="{{$smarty.const.__PUB__member/index.php?c=user&a=findPwd|url}}">忘记密码</a>
            </div>

            <div class="button">
            	<input type="submit" value="登录" class="btn_login">
                <input type="button" value="注册" class="btn_reg" onclick="location.href='{{$smarty.const.__PUB__member/index.php?c=user&a=register|url}}'">
            </div>
         </form>
         </div>
         {{/if}}
    </div>
<div id="indexSearch" class="module">
<form action="{{$smarty.const.__ROOT__?c=news|url}}" method='post'>
<input type="text" class="textfield" name="content" value="搜索你感兴趣的博客内容" onfocus="if (this.value == '搜索你感兴趣的博客内容') this.value = '';" onblur="if (this.value == '') this.value = '搜索你感兴趣的博客内容';" /> 
<input type="submit" class="button" value="搜索" />
</form>
</div>

</div>

<div class="clear"></div>
<div class="mainContent">
<div class="topic">
<div class="topicTop"></div>
<h4>今日微博：<a href="{{$smarty.const.__ROOT__?c=note|url}}" target="_blank">{{$note.create_time|date_format:"%Y-%m-%d"}} 往期微博</a></h4>
<p>{{$note.content}}</p>
</div>
{{include file="Include/mainContent.html"}}
</div>
{{include file="Include/subContent.html"}}
{{include file="Include/foot.html"}}