{{include file="../Include/user_head.html"}}
<div id="outterWrapper">
<div id="container">
	<div id="header">
    	<h1 class="bannerFindPass">找回密码</h1>
    </div>
    <div id="content">
    	<div id="main">
            <div id="sideMain">
            {{if $send_status eq "success"}}
	        <div id="validMail">
				<p style="font-weight:normal;">密码修改成功！</p>
				<p class="loginMail" style="font-weight:normal;"><a href="{{$smarty.const.__URL__&a=login|url}}" class="popup" style="font-weight:bold;">登录</a></p>
			</div>
			{{else}}
			<div id="pass">
			<form method="post" action="{{$smarty.const.__ACTION__|url}}">
				<input type="hidden" name="key" value="{{$key}}">
				<p class="notice">重置密码</p>
				<p class="findPass"><span class="f1">密码：</span><span class="f2">
				<input type="password" class="text" name="password" maxlength="16" /></span></p>
			    <p class="findPass"><span class="f1">确认密码：</span><span class="f2">
			    <input type="password" class="text" name="password2" maxlength="50" /></span></p>
			    <p class="button"><input type="submit" value="提交" class="button" /></p>
			</form>
			</div>
		{{/if}}
	<div id="solution">
		<p>如果需要帮助可发送邮件至 <a href="mailto:{{$help_email}}">{{$help_email}}</a></p>
	</div>
</div>
{{include file="../Include/user_foot.html"}}