<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>最新文章 - {{'cfg_webname'|getCfgVar}}</title>
    <image>
      <title>最新文章 - {{'cfg_webname'|getCfgVar}}</title>
      <link>{{$host}}</link>
      <url>{{$smarty.const.__APP_RESOURCE__}}imgs/logo.png</url>
    </image>
    <description>{{'cfg_description'|getCfgVar}}</description>
    <link>{{$host}}</link>
    <copyright>{{'cfg_powerby'|getCfgVar}}</copyright>
    <language>zh-cn</language>
    <generator>{{'cfg_basehost'|getCfgVar}}</generator>
    {{section name=loop loop=$list}}
    <item>
      <title><![CDATA[{{$list[loop].title}}]]></title>
      <link><![CDATA[{{$host}}{{$list[loop].link}}]]></link>
      <author>{{$host}}</author>
      <category/>
      <pubDate>{{$list[loop].create_time}}</pubDate>
      <comments/>
      <description><![CDATA[{{$list[loop].description}}]]></description>
    </item>
	{{/section}}
  </channel>
</rss>