

<div class="pageContent">
	<form method="post" action="{{$smarty.const.__URL__&a=edit|url}}" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<div class="pageFormContent" layoutH="56">
			
			<dl class="nowrap">
				<dt>文件：</dt>
				<dd><input type="text" name="file" size="60" readonly="readonly" value="{{$smarty.get.file}}"/></dd>
			</dl>
			
			<dl class="nowrap">
				<dt>文件内容：</dt>
				<dd><textarea name="content" style="height: 450px; width: 800px;">{{$content}}</textarea></dd>
			</dl>
	
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">编辑</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>
