<div class="pageContent">

	<div class="panelBar">
		<ul class="toolBar">
			<li><a href="{{$smarty.const.__ACTION__&active_path=$up_path|url}}" target="navTab" rel="File" title="浏览文件"><img src="{{$smarty.const.__APP_RESOURCE__}}images/icon/dir2.gif"/>上级目录</a></li>
			<li class="line">line</li>
			<span>当前目录：{{$active_path}}</span>
		</ul>
	</div>
	 
	<table class="table" width="100%" layoutH="75">
		<thead>
			<tr>
				<th>文件名</th>
				<th>文件大小</th>
				<th>最后修改时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{{section name=loop loop=$list}}
			<tr target="id" rel="{{$list[loop].id}}">
				<td>
				{{if $list[loop].img eq 'dir'}}
				<a href="{{$smarty.const.__ACTION__&active_path=$list[loop].active_path|url}}"  target="navTab" rel="File" title="浏览文件"><img src="{{$smarty.const.__APP_RESOURCE__}}images/icon/{{$list[loop].img}}.gif"/>{{$list[loop].name}}</a>
				{{else}}
				<img src="{{$smarty.const.__APP_RESOURCE__}}images/icon/{{$list[loop].img}}.gif"/>{{$list[loop].name}}
				{{/if}}
				</td>
				<td>{{$list[loop].size}}</td>
				<td>{{$list[loop].date}}</td>
				<td>
					{{if $list[loop].edit eq 1}}
					<a href="{{$smarty.const.__URL__&a=edit&file=$list[loop].active_path|url}}" target="dialog" width="1000" height="600">[编辑]</a>&nbsp;&nbsp;
					{{/if}}
					<a href="{{$smarty.const.__URL__&a=rename&file=$list[loop].active_path|url}}" target="dialog" width="800" height="200">[改名]</a>&nbsp;&nbsp;
					<a target="ajaxTodo" href="{{$smarty.const.__URL__&a=delete&file=$list[loop].active_path|url}}" title="确定要删除【{{$list[loop].name}}】吗?一旦删除将不可恢复，请仔细确认！">[删除]</a>&nbsp;&nbsp;
					{{if $list[loop].img neq 'dir'}}
					<a href="{{$smarty.const.__URL__&a=move&file=$list[loop].active_path|url}}" target="dialog" width="800" height="200">[移动]</a>&nbsp;&nbsp;
					{{/if}}
				</td>
			</tr>
		    {{/section}}
		</tbody>
	</table>
	
	<div class="panelBar">
		<ul class="toolBar">
			<li><a href="{{$smarty.const.__URL__|url}}" target="navTab" rel="File" title="浏览文件"><img src="{{$smarty.const.__APP_RESOURCE__}}images/icon/dir2.gif"/>根目录</a></li><li class="line">line</li>
			<li><a class="add" href="{{$smarty.const.__URL__&a=create&type=file&file=$active_path|url}}" target="dialog" width="800" height="600"><span>新建文件</span></a></li><li class="line">line</li>
			<li><a class="add" href="{{$smarty.const.__URL__&a=create&type=dir&file=$active_path|url}}" target="dialog" width="800" height="200"><span>新建目录</span></a></li><li class="line">line</li>
			<li><a class="icon" href="{{$smarty.const.__URL__&a=upload&file=$active_path|url}}" target="dialog" width="800" height="400"><span>文件上传</span></a></li><li class="line">line</li>
			<li><a class="icon" href="{{$smarty.const.__URL__&a=space&file=$active_path|url}}" target="dialog" width="400" height="200"><span>空间检查</span></a></li>
			<li><span>{{$list|@count}}个对象</span></li>
		</ul>
	</div>
	
</div>
