
<div class="pageContent">
	<form method="post" action="{{$smarty.const.__URL__&a=rename|url}}" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<div class="pageFormContent" layoutH="56">
			<input type="hidden" name="file" value="{{$smarty.request.file}}" />
			<dl class="nowrap">
				<dt>旧名称：</dt>
				<dd><input class="required"  name="old_name" size="30" value="{{$old_name}}" readonly="readonly"/></dd>
			</dl>
			
			<dl class="nowrap">
				<dt>新名称：</dt>
				<dd><input class="required"  name="new_name" size="30"/></dd>
			</dl>
			
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">确定</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>
