<form id="pagerForm" method="post" action="{{$smarty.const.__URL__|url}}">
	<input type="hidden" name="pageNum" value="{{$page.pageNum}}" />
	<input type="hidden" name="numPerPage" value="{{$page.numPerPage}}" />
	<input type="hidden" name="orderField" value="{{$page.orderField}}" />
	<input type="hidden" name="orderDirection" value="{{$page.orderDirection}}" />
	<input type="hidden" name="title" value="{{$smarty.post.title}}" />
	<input type="hidden" name="albumid" value="{{$smarty.post.albumid}}" />
	<input type="hidden" name="create_time" value="{{$smarty.post.createtime}}" />
</form>

<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" action="{{$smarty.const.__URL__|url}}" method="post">
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					标题：<input type="text" name="title" value="{{$smarty.post.title}}" />
				</td>
				<td>
					<select name="albumid" class="combox required">
						<option value="">--相册--</option>
						{{html_options options=$albums selected=$smarty.post.albumid}}
					</select>
				</td>
				<td>
					创建日期：<input type="text" class="date" readonly="true" name="createtime" value="{{$smarty.post.createtime}}"/>
				</td>
				<td>
					<div class="subBar">
						<ul>
							<li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
							<li><div class="buttonActive"><div class="buttonContent"><button type="button" onclick="return navTabSearch(this);">刷新</button></div></div></li>
						</ul>
					</div>
				</td>
			</tr>
		</table>
		
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="{{$smarty.const.__URL__&a=upload|url}}" target="navTab"><span>上传照片</span></a></li>
			<li><a class="edit" href="{{$smarty.const.__URL__&a=cut&id={id}|url}}" target="dialog" width="800" height="600"><span>图片裁剪</span></a></li>
			<li class="line">line</li>
			<li><a class="edit" href="{{$smarty.const.__URL__&a=update&id={id}|url}}" target="navTab"><span>修改</span></a></li>
			<li><a class="delete" href="{{$smarty.const.__URL__&a=delete|url}}" target="selectedTodo"  rel="ids" postType="string" title="确实要删除这些记录吗?"><span>批量删除</span></a></li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="114">
		<thead>
			<tr>
				<th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
				<th orderField="id" class="{{$page.orderDirection}}">照片编号</th>
				<th>标题</th>
				<th>相册</th>
				<th>缩略图</th>
				<th>上传时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{{section name=loop loop=$list}}
			<tr target="id" rel="{{$list[loop].id}}">
				<td><input name="ids" value="{{$list[loop].id}}" type="checkbox"></td>
				<td>{{$list[loop].id}}</td>
				<td>{{$list[loop].title}}</td>
				<td>{{$list[loop].albumName}}</td>
				<td class="box"><a href="{{$smarty.const.__UPLOAD__}}{{$list[loop].original}}" target="_blank"><img src="{{$smarty.const.__UPLOAD__}}{{$list[loop].thumbnail}}"/></a></td>
				<td>{{$list[loop].uploadtime}}</td>
				<td>
					<a target="ajaxTodo" href="{{$smarty.const.__URL__&a=delete&ids=$list[loop].id|url}}" class="btnDel" title="确定要删除吗?">删除</a>
					<a target="navTab" href="{{$smarty.const.__URL__&=update&id=$list[loop].id|url}}" class="btnEdit" title="编辑">编辑</a>
					<a target="dialog" href="{{$smarty.const.__URL__&=cut&id=$list[loop].id|url}}" class="btnAssign" title="图片裁剪" width="800" height="600">图片裁剪</a>
				</td>
			</tr>
		    {{/section}}
		</tbody>
	</table>
	{{include file="Include/page.html"}}
</div>
