
<div class="pageContent">
	<form method="post" action="{{$smarty.const.__URL__&a=update|url}}" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
		<input type="hidden" name="id" value="{{$info.id}}">
		<div class="pageFormContent" layoutH="56">
			<dl>
				<dt>标题：</dt>
				<dd><input name="title" id="title" class="required" type="text" size="30" value="{{$info.title}}" alt=""/></dd>
			</dl>
			
			<dl class="nowrap">
				<dt>图片：</dt>
				<dd>
					<img src="{{$smarty.const.__UPLOAD__}}{{$info.thumbnail}}"/>
					<br/>
					<a class="buttonActive" href="{{$smarty.const.__URL__&a=cut&id=$info.id|url}}" target="dialog" width="800" height="600"><span>图片裁剪</span></a>
				</dd>
			</dl>

			<dl class="nowrap">
				<dt>描述：</dt>
				<dd>
					<div class="unit"><!--  tools{mfull、simple、mini} -->
						<textarea class="editor" name="description" rows="10" cols="60" tools="mini">{{$info.description}}</textarea>
					</div>
				</dd>
			</dl>

		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">修改</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>

<script type="text/javascript">
	$("#title").focus();
</script>
