
<div class="pageContent">
	<form method="post" action="{{$smarty.const.__URL__&a=$smarty.const.ACTION_NAME|url}}" class="pageForm required-validate" onsubmit="return iframeCallback(this, dialogAjaxDone);" enctype="multipart/form-data">
		<input type="hidden" name="id" value="{{$info.id}}">
		<div class="pageFormContent" layoutH="56">
			<dl class="nowrap">
				<dt>名称：</dt>
				<dd><input name="name" class="required" type="text" size="30" value="{{$info.name}}" alt=""/></dd>
			</dl>
			<dl class="nowrap">
				<dt>英文名称：</dt>
				<dd><input name="en_name" class="required" type="text" size="30" value="{{$info.en_name}}" alt=""/></dd>
			</dl>
			<dl class="nowrap">
				<dt>链接：</dt>
				<dd><input name="url" class="required" type="text" size="30" value="{{$info.url}}" alt=""/></dd>
			</dl>
			<dl class="nowrap">
                <dt>图片：</dt>
                <dd><input type="file" name="img" value="" /></dd>
            </dl>
            <dl class="nowrap">
            	<dt>状态：</dt>
            	<dd>{{html_radios name=state options=$state_arr checked=$info.state|default:0}}</dd>
            </dl>
            <dl class="nowrap">
            	<dt>排序：</dt>
            	<dd><input name="rank" type="text" size="30" value="{{$info.rank}}" alt=""/></dd>
            </dl>
            {{if $info.img neq ""}}
            <div class="unit">
            	<label></label>
            	<img src="{{$smarty.const.__UPLOAD__}}{{$info.img}}">
            </div>
            {{/if}}

		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">{{if $smarty.const.ACTION_NAME eq "add"}}添加{{else}}修改{{/if}}</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>
