
{{include file="Include/head.html" video="actived"}}

<script type="text/javascript"> 
$(function() {
$('#kanfa .kimageBar ul').cycle({
        fx:      'scrollHorz',
        timeout:  0,
        prev:    '.pre',
        next:    '.next'
});
 
$('#announcement ul').cycle({
	fx:'scrollUp',
	timeout:10000
});
 
$('#hotRankSlide').cycle({ 
	fx:     'none', 
	timeout: 5000, 
	delay: 1000,
	pagerEvent: 'mouseover',
	pager:  '#hotRankNavi',
	activePagerClass: 'actived',
	pauseOnPagerHover: true,
	allowPagerClickBubble: true,
	cleartypeNoBg: true,
	pagerAnchorBuilder: function(idx, slide) { 
		// return selector string for existing anchor 
		return '#hotRankNavi li:eq(' + idx + ') a'; 
	} 
});
 
});
</script>


<div id="index">


<div class="subContent">

<div id="indexSearch" class="module">
<form action="{{$smarty.const.__ROOT__?c=news|url}}" method='post'>
<input type="text" class="textfield" name="content" value="搜索你感兴趣的博客内容" onfocus="if (this.value == '搜索你感兴趣的博客内容') this.value = '';" onblur="if (this.value == '') this.value = '搜索你感兴趣的博客内容';" /> 
<input type="submit" class="button" value="搜索" />
</form>
</div>
</div>

<div class="mainContent">
<div class="column">
<div class="columnBody">
<h2><span class="date">{{$info.title}}</span> <span></span></h2>
<p>
<embed width="650" height="400" allowscriptaccess="always" allowfullscreen="true" wmode="opaque" type="application/x-shockwave-flash" src="{{$info.url}}"></embed>
</p>
<div class="clear"></div>
<br/><br/>
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1740873" async=""></script>
<!-- UY END -->
</div>

<div class="columnFooter"></div>
</div>

<div class="module"><!-- blogbus_index_left_middle --></div>
<p class="link2blog">{{$page}}</p>
</div>

{{include file="Include/subContent.html"}}

<!--cnzz tui-->
<script  type="text/javascript" charset="utf-8"  src="http://tui.cnzz.net/cs.php?id=1000021767"></script>
<!--cnzz tui-->

{{include file="Include/foot.html"}}
