BODY {
	MARGIN: 0px
}
FORM {
	MARGIN: 0px
}
.button {
	BORDER-BOTTOM: #ffb386 2px solid; BORDER-LEFT: #ffb386 1px solid; MARGIN-TOP: 4px; WIDTH: 90px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; BACKGROUND: #f3f3f3; HEIGHT: 25px; FONT-SIZE: 14px; BORDER-TOP: #ffb386 1px solid; CURSOR: hand; BORDER-RIGHT: #ffb386 2px solid; PADDING-TOP: 2px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
TD {
	LINE-HEIGHT: 18px; FONT-SIZE: 12px
}
DIV {
	LINE-HEIGHT: 18px; FONT-SIZE: 12px
}
A:link {
	COLOR: #000000
}
A:visited {
	COLOR: #000000
}
#wtop {
	TEXT-ALIGN: right; LINE-HEIGHT: 19px; MARGIN-TOP: 4px; PADDING-RIGHT: 10px; FONT-FAMILY: Arial; HEIGHT: 19px; COLOR: #7e7e7e; FONT-SIZE: 12px
}
#hd {
	WIDTH: 98%; MARGIN-BOTTOM: 8px
}
#hd IMG.lg {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; MARGIN-RIGHT: 9px; BORDER-RIGHT: 0px
}
#hd DIV.dh {
	MARGIN-TOP: 0px; FONT-FAMILY: Arial; HEIGHT: 30px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#ft {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; MARGIN-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial; COLOR: #666; CLEAR: both; FONT-SIZE: 12px; PADDING-TOP: 2px
}
#ft A:link {
	FONT-FAMILY: Arial; COLOR: #7777cc; FONT-SIZE: 12px
}
#ft A:hover {
	FONT-FAMILY: Arial; COLOR: #7777cc; FONT-SIZE: 12px
}
#ft A:visited {
	FONT-FAMILY: Arial; COLOR: #7777cc; FONT-SIZE: 12px
}
#link {
	PADDING-BOTTOM: 5px; MARGIN-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial; COLOR: #666; CLEAR: both; FONT-SIZE: 12px; PADDING-TOP: 2px
}
#link A:link {
	FONT-FAMILY: Arial; COLOR: #7777cc; FONT-SIZE: 12px
}
#link A:hover {
	FONT-FAMILY: Arial; COLOR: #7777cc; FONT-SIZE: 12px
}
#link A:visited {
	FONT-FAMILY: Arial; COLOR: #7777cc; FONT-SIZE: 12px
}
#main {
	MIN-WIDTH: 756px; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MAX-WIDTH: 979px; PADDING-TOP: 0px
}
#left {
	CLEAR: left; MARGIN-RIGHT: 210px
}
#right {
	WIDTH: 200px; FLOAT: right; CLEAR: left
}
.t1 {
	LINE-HEIGHT: 24px; PADDING-LEFT: 10px; HEIGHT: 24px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.t1 {
	BACKGROUND: #ffe3c2; BORDER-TOP: #ffb386 1px solid
}
.t1 {
	BORDER-LEFT: #ffb386 1px solid; BORDER-RIGHT: #ffb386 1px solid
}
.b1 {
	BORDER-LEFT: #ffb386 1px solid; BORDER-RIGHT: #ffb386 1px solid
}
.b1 {
	BORDER-BOTTOM: #ffb386 1px solid; WIDTH: 100%; MARGIN-BOTTOM: 10px; BORDER-TOP: #ffb386 1px solid
}
.ttop {
	BORDER-LEFT: #fff 2px solid; LINE-HEIGHT: 28px; PADDING-LEFT: 10px; BACKGROUND: #ffc783; HEIGHT: 28px; COLOR: #7a4b0c; FONT-SIZE: 14px; BORDER-TOP: #fff 2px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #fff 2px solid
}
.ttd {
	BORDER-BOTTOM: #ffb386 1px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 22px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 14px; PADDING-TOP: 5px
}
.ntop {
	BORDER-LEFT: #fff 2px solid; LINE-HEIGHT: 28px; PADDING-LEFT: 10px; BACKGROUND: #fffaf7; HEIGHT: 30px; COLOR: #000; FONT-SIZE: 14px; BORDER-TOP: #fff 2px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #fff 2px solid
}
.new {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 22px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 14px; PADDING-TOP: 5px
}
.new2 {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 40px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-SIZE: 14px; PADDING-TOP: 5px
}
.new3 {
	LINE-HEIGHT: 40px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 5px
}
.red {
	COLOR: #b61e1e; FONT-WEIGHT: bold
}
A.red:link {
	FONT-FAMILY: Arial; COLOR: #b61e1e; FONT-SIZE: 14px
}
A.red:hover {
	FONT-FAMILY: Arial; COLOR: #b61e1e; FONT-SIZE: 14px
}
A.red:visited {
	FONT-FAMILY: Arial; COLOR: #b61e1e; FONT-SIZE: 14px
}
.date {
	FLOAT: left
}
.date TH {
	TEXT-ALIGN: center; LINE-HEIGHT: 16px; BACKGROUND: #f3dcbe; COLOR: #000; FONT-SIZE: 12px
}
.date TD {
	TEXT-ALIGN: center; LINE-HEIGHT: 16px; FONT-SIZE: 12px
}
.date TD.bg01 {
	BACKGROUND: #b61e1e no-repeat center center; COLOR: #fff; FONT-WEIGHT: bold
}
.date UL {
	MARGIN-LEFT: 10px
}
.date LI {
	PADDING-LEFT: 5px; WIDTH: 38px; DISPLAY: inline; BACKGROUND: #b61e1e no-repeat right 15px; FLOAT: left; COLOR: #555452
}
#head {
	
}
#menu_top {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: left; BORDER-LEFT: #ffc783 1px solid; PADDING-LEFT: 10px; WIDTH: 78%; BACKGROUND: #f2f2f2; FLOAT: right; HEIGHT: 85px; BORDER-TOP: #ffc783 1px solid; BORDER-RIGHT: #ffc783 1px solid
}
.menuli {
	BORDER-BOTTOM: #ffffff 1px solid; TEXT-ALIGN: center; LIST-STYLE-TYPE: none; WIDTH: 11%; BACKGROUND: #176eac; FLOAT: left; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold; BORDER-RIGHT: #ffffff 1px solid
}
.liover {
	BORDER-BOTTOM: #ffffff 1px solid; TEXT-ALIGN: center; LIST-STYLE-TYPE: none; WIDTH: 11%; BACKGROUND: #ffb386; FLOAT: left; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold; BORDER-RIGHT: #ffffff 1px solid
}
.liup {
	BORDER-BOTTOM: #ffb386 1px solid; TEXT-ALIGN: center; LIST-STYLE-TYPE: none; WIDTH: 11%; BACKGROUND: #fb6801; FLOAT: left; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold; BORDER-RIGHT: #ffffff 1px solid
}
#menu {
	BORDER-BOTTOM: #fb6801 1px solid; BORDER-LEFT: #fb6801 1px solid; LINE-HEIGHT: 28px; MARGIN-BOTTOM: 10px; BACKGROUND: #f1f1f1; COLOR: #000; CLEAR: both; FONT-SIZE: 14px; BORDER-TOP: #fb6801 5px solid; BORDER-RIGHT: #fb6801 1px solid
}
#menu0 LI A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#menu0 LI A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#menu SPAN {
	PADDING-LEFT: 3px; MARGIN-LEFT: 3px
}
#menu SPAN A {
	COLOR: #000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
A:link {
	COLOR: #000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
#menu SPAN A:hover {
	COLOR: #000; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
