<div id="footer">
<div class="shwj" style="margin-top:5px;text-align:center;">
	{{section name=loop loop=$links}}
	<a title="{{$links[loop].name}}" href="{{$links[loop].url}}" target="_blank"><img src="{{$smarty.const.__UPLOAD__}}{{$links[loop].img}}" style="width: 100px;height: 50px;"/>&nbsp;&nbsp;</a>
	{{/section}}
</div>

<div class="utilityMenu">
	<a href="http://www.eaglephp.com/Public/a/20120408/71.html" target="_blank">关于我们</a>|
    <a href="http://hi.baidu.com/e9151" target="_blank">百度空间</a>|
    <a href="http://eaglephp.taobao.com" target="_blank">秀依衣巷</a>|
    <a href="{{$smarty.const.__ROOT__?c=taobao|url}}" target="_blank">分享淘宝</a>|
	<a href="http://weibo.com/eaglephp" target="_blank">新浪微博</a>|
	<a href="{{$smarty.const.__ROOT__?c=message|url}}">留言反馈</a>|
	<a href="{{$smarty.const.__ROOT__?c=note|url}}">往期微博</a>|
	<a href="{{$smarty.const.__ROOT__?c=rss&a=xml|url}}" target="_blank">RSS订阅</a>|
	<a href="{{$smarty.const.__ROOT__?c=mqk|url}}" target="_blank">在线占卜</a>|
	<a href="http://www.eaglephp.com/Public/a/20120605/358.html" target="_blank">赞助我们</a>
</div>

<div class="copyright">{{'cfg_powerby'|getCfgVar}}&nbsp;&nbsp;<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F751683c69ee4698c55b17a1d20860b94' type='text/javascript'%3E%3C/script%3E"));
</script>
<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=408865477&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:408865477:41 &r=0.8384352800988515" alt="您好，欢迎咨询！" title="您好，欢迎咨询！"></a>
</div>

</div>
</div>

</body>
</html>