<div class="column">
<div id="today1" class="columnBody">
<h2><span class="date">{{$type_name}}</span> <span></span></h2>
<ul class="index_list">
	{{section name=loop loop=$news_list}}
	<li class="index_list_item">
	<a href="{{$news_list[loop].link}}" target="_blank" class="thumb">
	<div style="width: 100px;height: 100px;text-align: center;position:relative;"><img src="{{if $news_list[loop].img neq ""}}{{$news_list[loop].img}}{{else}}{{$smarty.const.__APP_RESOURCE__}}imgs/no_img.jpg{{/if}}" alt="{{$news_list[loop].title}}"/></div></a>
	<div class="desc">
	<h4 class="channel">
		<a href="{{$smarty.const.__ROOT__?c=news&a=index&type=$news_list[loop].type|url}}" target="_blank">[{{$news_list[loop].type_name}}]</a> 
		<a href="{{$news_list[loop].link}}" class="title" target="_blank">{{$news_list[loop].title}}</a>
	</h4>
	<p>{{$news_list[loop].description}}</p>
	<p class="more"><font color="#81a514">{{$news_list[loop].create_time|date_format:"%Y-%m-%d"}}</font></p>
	</div>
	</li>
	{{/section}}
</ul>
<div class="clear"></div>
</div>

<div class="columnFooter"></div>
</div>

<div class="module"><!-- blogbus_index_left_middle --></div>
<p class="link2blog">{{$page}}</p>