<form id="pagerForm" method="post" action="{{$smarty.const.__URL__}}">
	<input type="hidden" name="pageNum" value="{{$page.pageNum}}" />
	<input type="hidden" name="numPerPage" value="{{$page.numPerPage}}" />
	<input type="hidden" name="orderField" value="{{$page.orderField}}" />
	<input type="hidden" name="orderDirection" value="{{$page.orderDirection}}" />
	<input type="hidden" name="nickname" value="{{$smarty.post.nickname}}">
	<input type="hidden" name="account" value="{{$smarty.post.account}}" />
	<input type="hidden" name="tag" value="{{$smarty.post.tag}}" />
	<input type="hidden" name="city" value="{{$smarty.post.city}}" />
	<input type="hidden" name="createtime" value="{{$smarty.post.createtime}}" />
</form>

<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" action="{{$smarty.const.__URL__}}" method="post">
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					昵称：<input type="text" name="nickname" value="{{$smarty.post.nickname}}" />
				</td>
				<td>
					账号：<input type="text" name="account" value="{{$smarty.post.account}}" />
				</td>
				<td>
					标签：<input type="text" name="tag" value="{{$smarty.post.tag}}" />
				</td>
				<td>
					城市：<input type="text" name="city" value="{{$smarty.post.city}}" />
				</td>
				<td>
					创建日期：<input type="text" class="date" readonly="true" name="createtime" value="{{$smarty.post.createtime}}"/>
				</td>
				<td>
					<div class="subBar">
						<ul>
							<li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
							<li><div class="buttonActive"><div class="buttonContent"><button type="button" onclick="return navTabSearch(this);">刷新</button></div></div></li>
						</ul>
					</div>
				</td>
			</tr>
		</table>
		
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<!--
			<li><a class="add" href="{{$smarty.const.__URL__}}add" target="navTab"><span>添加</span></a></li>
			<li><a class="edit" href="{{$smarty.const.__URL__}}update/id/{id}" target="navTab"><span>修改</span></a></li>-->
			<li><a class="delete" href="{{$smarty.const.__URL__}}delete" target="selectedTodo"  rel="ids" postType="string" title="确实要删除这些记录吗?"><span>批量删除</span></a></li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="114">
		<thead>
			<tr>
				<th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
				<th orderField="id" class="{{$page.orderDirection}}">用户编号</th>
				<th>昵称</th>
				<th>账号</th>
				<th>头像</th>
				<th>标签</th>
				<th>省份</th>
				<th>城市</th>
				<th>粉丝</th>
				<th>创建时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{{section name=loop loop=$list}}
			<tr target="id" rel="{{$list[loop].id}}">
				<td><input name="ids" value="{{$list[loop].id}}" type="checkbox"></td>
				<td>{{$list[loop].id}}</td>
				<td width="20%">{{$list[loop].nickname}}</td>
				<td><a style="text-decoration:underline;color:blue" href="http://weibo.com/{{$list[loop].account}}" target="_blank">{{$list[loop].account}}</a></td>
				<td class="box"><img src="{{$list[loop].photo}}" width="50" height="50"/></td>
				<td>{{$list[loop].tag}}</td>
				<td>{{$list[loop].province}}</td>
				<td>{{$list[loop].city}}</td>
				<td>{{$list[loop].fans}}</td>
				<td>{{$list[loop].createtime}}</td>
				<td>
					<a target="ajaxTodo" href="{{$smarty.const.__URL__}}delete/ids/{{$list[loop].id}}" class="btnDel" title="确定要删除吗?">删除</a>
					<!--<a target="navTab" href="{{$smarty.const.__URL__}}update/id/{{$list[loop].id}}" class="btnEdit">编辑</a>-->
				</td>
			</tr>
		    {{/section}}
		</tbody>
	</table>
	{{include file="Include/page.html"}}
</div>
