body,ul,li,form,h1,h2,h3{margin:0; padding:0;}
body{font-family:"微软雅黑", Arial, sans-serif; line-height:200%; font-size:14px;}
a{ text-decoration:none; color:#336699;}
a:hover{color:red;}
h1,h2,h3{font-weight:normal;}
h1{font-size:20px;}
h2{font-size:16px;}
ul,li{list-style:none;}
em{font-style:normal;}
img{border:none;}

.dateline{color:#999; font-size:12px;}

#header,#content,#footer{width:960px; margin-left:auto; margin-right:auto;}
.logo{padding:10px 0;}
.menu,.submenu{height:28px; overflow:hidden;zoom:1;}
.menu{padding:2px 10px; background:#2c7608;}
.menu a{color:#fff; margin-right:10px; padding:3px 10px 4px;}
.menu a:hover{color:yellow;}
.menu a.menuon{ background:#f1fee8; color:#F16E50; top:2px; line-height:20px; border-radius:3px 3px 0 0 ; position:relative;}
.submenu{ background:#f1fee8; border:1px solid #d1ecc2; color:#999; border-top-color:#f1fee8; padding:0 10px;}
.submenu a{margin-right:10px; font-size:12px;}

.page{text-align:right; padding:20px 10px;}
.page a{padding:5px 10px;border:1px solid #eee;margin:0 5px;color:#454545;}
.page a:hover{background:#F16E50; color:#fff; border:1px solid #F16E50;}
.page .current{ background:#F16E50; padding:6px 13px; color:#fff;}

#content{overflow:hidden;zoom:1;margin-top:15px;}
#main{width:670px;float:left;}
#sidebar{width:280px;float:right;}
.user{padding:10px; background:#f4f4ec; border-radius:5px; overflow:hidden; zoom:1;}
.user .avatar{float:left; margin-right:15px;}
.user .info{float:left;}
.user .tools{margin:10px 0;}
.user .tools a{display:inline-block; border-radius:3px; padding:2px 15px 2px 10px; border:1px solid #F16E50; line-height:22px; color:#fff; background:#F16E50; margin-right:15px;}
.user .tools a:hover{background:#ff8800; border:1px solid #F16E50;}
.user .spaceinfo{line-height:25px;}
.user .spaceinfo em{color:#999; font-size:12px;}
.user .spaceinfo a{ font-size:14px; font-family:Geneva, Arial, Helvetica, sans-serif}

.postbtn{display:inline-block; border-radius:3px; padding:2px 15px 2px 10px; border:1px solid #F16E50; line-height:22px; color:#fff; background:#F16E50; margin:0 5px;}
.postbtn:hover{background:#ff8800; border:1px solid #F16E50;}

.avatar_m{width:55px; height:55px;}
.avatar_s{width:40px; height:40px;}

.actions{border:1px solid #eee; margin-top:15px;border-radius:5px;}
.actions h2{padding:2px 10px; background:#f5f5f5; margin-bottom:15px;}
.actions ul{margin:5px 10px;}
.actions ul li{margin:0 0 15px; border-bottom:1px solid #eee; overflow:hidden; zoom:1; padding-bottom:10px; line-height:25px; font-size:12px; color:#999;}
.actions ul li img{margin-right:15px;}
.actions .f_avatar{float:left; width:50px;}
.actions .f_article{float:right; width:590px; line-height:20px;}
.actions ul li h3 a{color:#333; font-size:15px;}
.actions ul li h3 em{float:right; font-style:normal;}
.actions ul li h3 em a{color:#999; font-size:12px;}

.avatarlist{overflow:hidden;zoom:1;}
.avatarlist li{width:55px;height:55px; line-height:50px; float:left; border:1px solid #fff;}

.smod{margin:0 0 15px 10px; border:1px solid #d1ecc2;border-radius:5px;}
.smod ul{margin:5px 10px;}
.smod h2{padding:0 10px; margin:5px 0;}

.footerwrap{width:100%; background:#f5f5f5; margin-top:15px; padding:10px 0;}
#footer{ text-align:center; font-size:12px;}